.cookies: .container: .row.justify-content-between
	.col-md-9.col-xl-7.mr-auto: p
		| We use&nbsp;
		a(href='/pdf/Cookies%20policy_BetterTokens.pdf') cookies
		| &nbsp;to ensure that you get the best experience on our website. If you continue, we&rsquo;ll assume that you are happy to accept all&nbsp;
		a(href='/pdf/Cookies%20policy_BetterTokens.pdf') cookies
		| &nbsp;on our website.
	.col-md-auto: a.btn.btn-outline-white.close-cookies(href='#') Continue