include mixins

+stdarticle(1, "Why do I have to pay 1,000 WAVES ?").
	There are a number of qualified experts involved in the review process, each of whom spend a certain amount of time on every application.
	The only purpose of this fee is to cover the expenses incurred by BetterTokens.
+stdarticle(2,"Does the 1,000 WAVES charge apply even if I don't obtain Qualified status? ").
	Yes: we request payment of the fee before we begin reviewing your project. Our team spends the same amount of time reviewing each application.
	The fee is not paid to secure Qualified status, it is paid to cover the cost of the review process.
+stdarticle(3,"I'm not sure if my project will be able to obtain Qualified status and I’m worried about wasting 1,000 WAVES for nothing. What should I do?")
	| Contact us directly at
	a.nbsp(href="mailto:sec@bettertokens.org") sec@bettertokens.org
	| and describe your project.
	br
	| We will take an initial look at it for free and reply to you with a suggestion about whether you should apply,
	| following the formal process and payment of fees.
+stdarticle(4,"What if my token is created just for trading purposes, with no supporting documentation and no company or team standing behind it ?").
	In this case your token will not comply with BetterTokens’ standards and we will not be able to award your project Qualified status.
+stdarticle(5,"What happens if my project does not obtain Qualified status?")
	| Nothing will happen until 18 June 2019.
	br
	| After that date, your token will lose its current ticker on DEX and become searchable only by token ID.
	br
	| Those users who know the token ID will still be able to trade your token on DEX.
+stdarticle(6, "Is BetterTokens the only provider of Qualified status on DEX ?")
	| Yes, for now.
	br
	| It is anticipated that more providers will be connected to Waves in the future.
	| Any of those may set their own criteria for review and classification of tokens. In addition, this function may become part of Waves community voting.