footer#footer: .container: .row
	.col-md-6.col-lg-3
		strong.logo
			a(href='#') BetterTokens
		.footer-info.d-md-block.d-none
			| &copy; 2018. For more information, contact Tokenization Standards Association
			p: a(href='mailto:sec@bettertokens.org') sec@bettertokens.org
	.col-md-6.col-lg-3.footer-nav-col.footer-nav
		.footer-nav__item: a(href='/') Main page
		.footer-nav__item: a(href='/team') Team
		.footer-nav__item
			a(href='/application-progress') Application process
			| &nbsp;|&nbsp;
			a(href='/application-progress#faq') FAQ
		.footer-nav__item
			a(href='/standarts') Standards
		.footer-nav__item
			a(href='/news') News &amp; Reports
		.footer-nav__item
			a(href='/contacts') Contacts
	.col-md-6.col-lg-3
	.col-md-6.col-lg-3
		ul.social-list
			li: a(href='http://medium.com/@bettertokens'): span.icon-media
			li: a(href='http://twitter.com/bettertokens'): span.icon-twitter
			li: a(href='https://fb.me/bettertokens'): span.icon-facebook
		.footer-info.d-md-none
			| &copy; 2018. For more information, contact Tokenization Standards Association
			p: a(href='mailto:sec@bettertokens.org') sec@bettertokens.org
