header#header
	.container: .header-frame
		.row.justify-content-between
			.col-3:    strong.logo: a(href='/') BetterTokens
			.col-9.col-xl-7
				nav.nav: ul#nav
					li: a(href='/team'): span Team
					li: a(href='/application-progress'): span Application process
					li: a(href='/standarts'): span Standards
					li: a(href='/news'): span News &amp; Reports
					li: a(href='/contacts'): span About Us
		a.nav-opener(href='#'):    span
