doctype html
head
	title BetterTokens - Application for TSA Qualified Issuer status
	script.
		window.isApp = true;
	include includes/head
body.inner-page
	include includes/preloader
	include includes/cookie-warning
	#wrapper
		include includes/head-menu
		#main
			.container
				section.main-section: .row: .col-md-8
					.main-section__title.page-title Application for TSA Qualified Issuer status
					div.
						Projects that comply with BetterTokens standards obtain Qualified Issuer status, which
						guarantees membership in BetterTokens, verified token status on Waves, a ticker, a logo and
						a priority search listing on Waves DEX.
				#app
		include includes/footer