doctype html
head
	title BetterTokens - About Us
	include includes/head
body
	include includes/preloader
	include includes/cookie-warning
	#wrapper
		include includes/head-menu
		#main: .container
			section.page-section
				.about-text.row: .col-lg-9
					.page-title About Us
					p The Tokenization Standards Association (TSA), which operates under the brand name BetterTokens, is a non-profit organisation founded by Waves and other leading market players in early 2018 and registered in the canton of Zug, Switzerland.
					p The association&rsquo;s main purpose is to function as a self-regulating body, establishing and maintaining standards for companies engaged in tokenisation of assets and initial coin offerings (ICOs) / token generation events (TGEs).
					p BetterTokens aims to promote dialogue on technology, legal and tax issues, anti-money-laundering compliance, business conduct, ethical standards, investor protection and other issues relevant to tokenisation/ICO/TGE.
					p BetterTokens grants the status of Qualified Token Issuer to companies complying with its standards. The association is open to all major players in the crypto space, including exchanges, marketing companies, ICO platforms, blockchain platforms, professional service providers and reputable individuals.
				.contact-item.row.justify-content-between
					.col-md-5.col-lg-3.offset-lg-1.align-self-center
						.contact-item__title Contacts
						.contact-item__text
							p Tokenization Standards Association
							p (Verein f&uuml;r Tokenization Standards)
							p Industriestrasse 24
							p 6300, Zug, Switzerland
						.contact-item__mail: a(href='#') sec@bettertokens.org
					.col-md: .contact-map-wrap: .contact-map 47.175083,8.519522,15
		include includes/footer