include includes/mixins

doctype html
head
	title BetterTokens - FAQ
	include includes/head
body.inner-page
	include includes/preloader
	include includes/cookie-warning
	#wrapper
		include includes/head-menu
		#main
			.container
				section.main-section: .row: .col-md-12: .main-section__title.page-title FAQ - Frequently Asked Questions
				include includes/faq
		include includes/footer