doctype html
head
	title BetterTokens
	ink(rel='stylesheet' href='/vendor/fancyapp/jquery.fancybox.css' type='text/css')
	include includes/head
body.index-page
	include includes/preloader
	include includes/cookie-warning
	#wrapper
		include includes/head-menu
	#main
		.container
			section.main-section
				.main-section__visual
					// <img src="images/deco01.png" width="723" height="668" alt="image description">
					video#startVideo(width='723' height='723' muted='' autoplay='' playsinline='' data-autoplay='')
						source(src='/images/bettertokens-object_start.mp4' type='video/mp4')
						img(src='/images/deco01.png' width='723' height='668' alt='image description')
					span.loop
						video(width='723' height='723' loop='' muted='' autoplay='' playsinline='' data-autoplay='')
							source(src='/images/bettertokens-object_loop.mp4' type='video/mp4')
							img(src='/images/deco01.png' width='723' height='668' alt='image description')
				.row: .col-md-7.col-xl-6
					.main-section__title.page-title
						| We foster trust by standardising crypto projects
					.main-section__text
						| The Tokenization Standards Association (TSA), operating under
						| the brand name BetterTokens, carefully selects projects under clear guidelines. We set up
						| industry standards, ensuring investor protection and helping to fight fraud. Qualified token
						| issuers are identified on Waves DEX with a ticker.
					a.btn(href='/application-progress') Apply
			section.main-areas-section
				.row
					.col-md-4.col-lg-3: .block-title Main areas of activity
					.col-md-7.col-lg-6.offset-lg-1
						.activity-block
							.activity-block__title Setting up tokenization standards
							p.
								BetterTokens develops due diligence standards for companies and individuals involved in
								tokenisation of assets, ensuring proper investor protection and compliance with
								applicable regulations.
						.activity-block
							.activity-block__title Awarding TSA Qualified Issuer Status
							p.
								An expert committee assesses token issuers&rsquo; projects and awards Qualified Issuer Status
								to those complying with relevant regulatory requirements. Qualified Issuers are
								identified on Waves DEX with a ticker.
						.activity-block
							.activity-block__title Outsourcing review of tokens
							p.
								We cooperate with centralised and decentralised exchanges who are prepared to outsource
								the assessment of assets applying for listing to a qualified third party.
						.activity-block
							.activity-block__title Engaging financial regulators
							p.
								BetterTokens runs a work group dedicated to discussing trends, projects and new
								initiatives in the blockchain industry with regulators worldwide, including Japan, the
								United States, Switzerland, Malta, Luxembourg, Slovenia and other nations.
			section.step-section: .row
				.col-md-6.col-lg-4: .step-block
					.step-block__num 1
					.step-block__title.block-title Check your eligibility
					.step-block__text.
						Any project that is considering applying for Qualified Issuer
						status will need to consider carefully the information published on the BetterTokens
						website, specifically the Code of Conduct, Tokenisation Standards and the application
						form and process description.
				.col-md-12.col-lg-4: a.step-block.step-block--round(href='/application-progress')
					.step-block__num 2
					.step-block__title.block-title Apply your project
				.col-md-6.col-lg-4.offset-md-6.offset-lg-0: .step-block
					.step-block__num 3
					.step-block__title.block-title Gain a qualified review
					.step-block__text
						| During this phase BetterTokens will review the application and
						| submitted documents for compliance with the application process.
						br
						| If the application does not meet the established requirements it will be discarded with no further
						| consideration, and corresponding notice given to the applicant.
			section.pasrtners-section
				.block-title Partners
				.row
					.col-lg.col-xl-9: .pasrtners-block: ul.pasrtners-list
						li: img(src='/images/img01.png' width='148' height='26' alt='image description')
						li: img(src='/images/img02.png' width='114' height='33' alt='image description')
						li: img(src='/images/img03.png' width='134' height='26' alt='image description')
						li: img(src='/images/img04.png' width='187' height='23' alt='image description')
					.col-lg.col-xl-3
						a.btn.btn-block.btn-outline-gray#partnerBtna(href='#modal') Become our partner
			section.news-section
				.block-title News &amp; Reports
				.row
					.col-xl-8
						.row
							.col-md-6.col-xl-6.col-lg-5.align-self-md-center.align-self-xl-start
								.news-item
									.news-item__title
										a(href='https://medium.com/@bettertokens/betternews-6-uk-crypto-taskforce-report-3b1b47d4a9f8')
											| UK
											| Crypto Taskforce Report
									.news-item__text
										| The UK Cryptoasset Taskforce comprising the Financial
										| Conduct Authority (FCA)&mldr;
									.news-item__date Nov 6
							.col-md-6.d-xl-none.offset-lg-1
								.side-news
									.report-num Report #1
									.report-name Security Token Offerings
									a.btn.btn-outline-white(href='/pdf/TSA_Report.pdf') Read
							.col-md-6.col-xl-6.col-lg-4.d-md-block.d-none
								.news-item
									.news-item__title
										a(href='https://medium.com/@bettertokens/betternews-5-september-to-remember-e21122749c61')
											| September
											| to remember
									.news-item__text
										| This issue covers regulatory news for September from
										| regulators in jurisdictions that are no&mldr;
									.news-item__date Oct 5
							.col-md-6.col-xl-6.col-lg-4.d-md-block.d-none
								.news-item
									.news-item__title
										a(href='https://medium.com/@bettertokens/betternews-4-luxembourg-stable-coin-regulatory-view-87f38c18238c')
											| Luxembourg:
											| Stable Coin Regulatory View
									.news-item__text
										| During last week BetterTokens co-founder and Board
										| member Artem Tolkachev and BetterTokens secretary Georgiy Gukasyan had&mldr;
									.news-item__date Sep 28
							.col-md-6.col-xl-6.col-lg-4.d-lg-block.d-none
								.news-item
									.news-item__title
										a(href='https://medium.com/@bettertokens/betternews-3-malta-dlt-system-audit-requirements-and-dlt-exchanges-9d647d7b390a')
											| Malta:
											| DLT System Audit requirements and DLT Exchanges
									.news-item__text
										| The discussion with Malta Digital Innovation Authority
										| focused on DLT System Audit requirements.
									.news-item__date Sep 14
					.col-xl-4.d-xl-block.d-none
						.side-news
							.report-num Report #1
							.report-name Security Token Offerings
							a.btn.btn-outline-white(href='/pdf/TSA_Report.pdf') Read
	#modal-partner-dlg.modal-item.remodal(data-remodal-id="modal")
		form(method='post' action='/partner/send')
			.modal-title Become our partner
			.input-wrap
				label.control-label-block Company
				input.form-input.required(name='company' type='text' placeholder='Company name')
			.input-wrap
				label.control-label-block Company representative
				input.form-input.required(name='name' type='text' placeholder='First name, Last name')
			.input-wrap
				label.control-label-block Company web site
				input.form-input.required(name='site' type='text' placeholder='https://sitename.sample/')
			.input-wrap
				label.control-label-block Contact email
				input.form-input.email(name='email' type='email' placeholder='email@sample.com')
			.row
				.col-6: button.btn.btn-block.btn-gray.remodal-cancel(type='reset' data-remodal-action="cancel") CANCEL
				.col-6: button.btn.btn-block#modalSend(type='submit') JOIN US
	include includes/footer