.application-block
	.row
		.col-md-2.col-lg-1
			.application-block__num 1
		.col-md-10.col-lg-9
			.application-block__title Transfer Application Fee
			p
				| On December 25, 2018 Waves launched&nbsp;
				a(href="https://blog.wavesplatform.com/decentralised-token-verification-our-vision-for-the-future-and-a-fix-for-the-present-fefd5531b33d") The Subsidy Programme
				| &nbsp;under which the Application Fee is reduced to 10 WCT from 1000 WAVES
			p.
				In order to process the application, BetterTokens requests applicants to transfer
				a non-refundable Membership Application Fee of 10 WCT to wallet address 3PAyqLbvEwQj6Y2fgKUc6u3DGxMxVaKbRQL
			p.
				This fee covers processing of the application and does not guarantee that the
				applicant will obtain TSA Qualified Issuer Status.
			p.
				The Application Fee of 10 WCT is valid until June 15, 2019. After that date, The Application Fee will be 1000 WAVES.

.application-block
	.row
		.col-md-2.col-lg-1
			.application-block__num 2
		.col-md-10.col-lg-9
			.application-block__title Submission of application via email
			p
				| The applicant submits the documents listed below using the application form
				| available on the BetterTokens website.
			p
				| The applicant&nbsp;
				strong must
				| &nbsp;attach the following documents to the
				|                                         application form, adding relevant numeric indicators, provided in square
				|                                         brackets below, to the file names.
			p All documents shall be submitted in English in a readable format.
			.list-block
				.list-block__title List of documents
				ul.text-list
					li:  span.num [000] Logo requested for Waves client (svg format only, 20kB)
					li:  span.num [001]
						|  Legal information concerning tokenisation project (Certificate of Incorporation; Articles; Charter)
					li:    span.num [002]
						|  White Paper
					li: span.num [003]
						|  Detailed technical specifications for the project
					li: span.num [004]
						|  Token sale agreement (or equivalent) / Private sale terms (if applicable) / Bounty programme terms (if applicable)
					li:    span.num [005]
						|  Website and Marketing materials
					li:    span.num [006]
						|  AML / KYC Policy or measures description
					li: span.num [007]
						|  Internal risk management policy or measures description
					li:    span.num [008]
						|  List of key relevant markets and investors targeted by tokenisation project
					li: span.num [009]
						|  Results of independent security audit (if conducted) / internal code review (if conducted)
					li: span.num [010]
						|  Legal opinion (if obtained)
					li:    span.num [011]
						|  Any other documents considered by the applicant as having crucial importance for the application process.
.application-block
	.row
		.col-md-2.col-lg-1
			.application-block__num 3
		.col-md-10.col-lg-9
			.application-block__title Receive an automatic confirmation
			p
				| Once the application is submitted, the applicant will receive an automatic reply
				| stating that BetterTokens will review the provided documents and decide on the
				| applicability of Qualified Issuer Status to the project.
			p
				| The total timeframe for this process is&nbsp;
				strong 7 business days.