.row
	.col-md-9
		.application-block
			p
				| Potential applicants are encouraged to study documents on the BetterTokens
				| website, namely the application process and application form, Code of Conduct
				| and Detailed Description of Standards. Any questions or requests for
				| clarification should be addressed to
				a.nbsp(href='mailto:sec@bettertokens.org') sec@bettertokens.org
				| before starting the application process.
		.download-block
			.download-block__title Download
			.download-block__item
				a.download-pdf(target='_blank' href='/pdf/Tokenization%20Standards.pdf')
					| Tokenization
					| Standards
			.download-block__item
				a.download-pdf(target='_blank' href='/pdf/Code_of_Conduct.pdf')
					| Code of
					| Conduct