.application-block
	.row
		.col-md-2.col-lg-1
			.application-block__num 1
		.col-md-10.col-lg-9
			.application-block__title Compliance with the application process
			p
				| BetterTokens will review the application documents for compliance with the
				| application process indicated on its website.
			p
				| If the application does not meet the necessary requirements, it will be discarded
				| with no further consideration, with corresponding notice sent to the
				| applicant.
			p
				| Applications submitted in compliance with the application process will proceed to
				| the next stage.
.application-block
	.row
		.col-md-2.col-lg-1
			.application-block__num 2
		.col-md-10.col-lg-9
			.application-block__title Scoring
			p
				| BetterTokens will review the application documents for compliance with its
				| tokenisation standards.
			p
				| Special attention will be given to the information presented by the project to
				| its investors, including its white paper, AML / KYC standards and clarity of
				| disclosures regarding the token and secondary market trading.
			p The review will be undertaken following proprietary scoring methodology.
			h4 Awarding Qualified Issuer Status
			p
				| Scoring results for applicants will be presented to BetterTokens Board members,
				| who will formalise the award of Qualified Issuer status.
			p
				| The results will be recorded on the Waves blockchain by a corresponding data
				| transaction. Subsequently, the project&rsquo;s ticker, logo and &lsquo;Qualified&rsquo; status
				| will become available on Waves DEX.